<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificador de Crédito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-primary justify-content-center">
      <ul class="nav">
        <li class="nav-item" >
          <h1 style="color: white; width: 100%;">ML para prever empréstimo</h1>
          <h6 style="color: white; margin-left: 25%;">
            ®Made by <a href="https://freddomingues.github.io" target="_blank" style="color: white;">
              <b>Frederico A. Domingues</b>
            </a>
          </h6>
          <h6 style="color: white; margin-left: 35%;">
            <a href="https://github.com/freddomingues/Classificator-CreditData" target="_blank" style="color: white;">
              <b>Ver código no GitHub</b>
            </a> 
          </h6>
        </li>
      </ul>
    </nav><br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="index">Prever com SVM</a></li>
        <li class="page-item"><a class="page-link" href="#">Prever com Random Forest</a></li>
        <li class="page-item"><a class="page-link" href="indexRNA">Prever com Redes Neurais</a></li>
      </ul>
    </nav>

    <div class="card" style="margin-left: 15%; margin-right: 15%; margin-top: 30px">
        <h5 class="card-header">Classificador com Random Forest</h5>
        <div class="card-body">
            <form id="formRF" action="{{ url_for('predict_rf')}}" method="post">
                <div class="form-group">
                  <label for="labelRenda">Renda Anual</label>
                  <input type="text" class="form-control" name="inputRendaRF">
                </div>
                <div class="form-group">
                  <label for="labelIdade">Idade</label>
                  <input type="number" class="form-control" name="inputIdadeRF">
                </div>
                <div class="form-group">
                    <label for="labelCredito">Valor do crédito solicitado</label>
                    <input type="number" class="form-control" name="inputCreditoRF">
                </div>
                <button type="submit" class="btn btn-primary">Verificar</button><br>
                {{ prediction_text_rf }}           
              </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>